// 可以在此修改覆盖默认主题
:root {
  scroll-behavior: smooth;
}
.home .hero {
  margin-top: 150px;
  img {
    border-radius: 20px;
    box-shadow: 10px 10px 10px #333;
  }
}
.home .hero .description {
  max-width: 45rem;
}

@media screen and (min-width: 400px) {
  .theme-default-content:not(.custom) {
    margin-left: 240px;
  }
  .page-meta, .page-nav {
    margin-left: 240px;
  }
}
